.git
.gitignore
.npmignore
.github
.husky
/docs

src/vite-env.d.ts

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store

# Editor directories and files
.vscode
.idea
.fleet
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env
*.local

# Build
dist/*
!dist/vue-paginate.css
!dist/vue-paginate.es.js
!dist/vue-paginate.cjs.js
!dist/vue-paginate.umd.js


